* {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding: 10px;
}

input {
  margin: 5px 0px 5px 5px;
}

button {
  margin: 5px 0px;
  cursor: pointer;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.hide {
  display: none;
}

.blog {
  padding-top: 10px;
  padding-left: 5px;
  border: solid;
  border-width: 1px;
  margin-bottom: 5px;
}

.blog span {
  color: red;
  transition: all 550ms;
}
